{% extends "base.html" %}

{% block title %}Script Player{% endblock %}

{% block content %}
<div class="container">
    <p class="script-line-speaker">{{ scriptLine.speaker }}</p>
    <p class="script-line-text">{{ scriptLine.line }}</p>

    {% if choices: %}
        {% for choice in choices: %}
        <p><a href="{{ url_for('play_node', id=scriptId, nodeId=choice.nextNodeId, line=0)}}">{{ choice.text }}</a></p>
        {% endfor %}
    {% else %}
        {% if scriptLine.next.nodeId %}
        <p><a href="{{ url_for('play_node', id=scriptId, nodeId=scriptLine.next.nodeId, line=scriptLine.next.lineId)}}">Suivant</a></p>
        {% else %}
            <p>FIN</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}