{% extends "base.html" %}

{% block title %}Script Player{% endblock %}

{% block content %}
<div class="container">
    <div class="script-header">
        <h1>{{ script.title }}</h1>
        <p class="script-summary">
            {% for line in script.summary %}
                {{line}}<br />
            {% endfor %}
        </p>
    </div>
    <div class="script-body">
        {% for node in script.nodes %}
        <div class="card node w-75" id="node-{{node.id}}">
            <h5 class="card-header speaker">
                {{node.speaker}}
                {% if node.label %}
                <span class="badge bg-primary">{{node.label}}</span>
                {% endif %}
                {% if node.nextNodeLabel %}
                {{ render_icon('arrow-bar-right') }} <span class="badge bg-warning">{{node.nextNodeLabel}}</span>
                {% endif %}
            </h5>

            <div class="card-body">

                <p class="node-lines card-text">
                    {% for line in node.lines %}
                        <span>{{line.text}}</span>
                        {% if line.condition %}
                            <span class="badge badge-pill bg-info">{{ render_icon('question-circle-fill') }}{{line.condition}}</span>
                        {% endif %}                        
                        <br />
                    {% endfor %}
                </p>
                {% if node.choices %}
                <div class="node-choices">
                    {% for choice in node.choices %}
                        <a class="btn btn-primary" href="#node-{{choice.nextNodeId}}">
                            {{ choice.text }}
                            {{ render_icon('arrow-bar-right') }}
                            <span class="badge bg-secondary">{{choice.label}}</span>
                            {% if choice.condition %}
                                <span class="badge badge-pill bg-info">{{ render_icon('question-circle-fill') }}{{choice.condition}}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>          
                {% endif %}
            </div>  
        </div>
        {% endfor %}
    </div>
    <div class="script-links">
        <a href="/scripts/{{script.id}}/play">Play</a>&nbsp;
        <a href="/scripts/list">Retour</a>
    </div>
</div>

{% endblock %}